<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">

    <div class="container-fluid">

        <!-- Logo -->
        <a
            class="navbar-brand fw-bold"
            routerLink="/dashboard">

            Kruti Electronics

        </a>

        <!-- Mobile Menu -->
        <button
    class="navbar-toggler"
    type="button"
    (click)="toggleMenu()">

    <span class="navbar-toggler-icon"></span>

</button>

       <div
    class="collapse navbar-collapse"
    [class.show]="menuOpen">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <!-- Dashboard -->
                <li
                    class="nav-item"
                    *ngIf="isLoggedIn()">

                    <a
    class="nav-link"
    routerLink="/dashboard"
    routerLinkActive="active"
    (click)="closeMenu()">

                        🏠 Dashboard

                    </a>

                </li>

                <!-- Add Receipt -->
                <li
                    class="nav-item"
                    *ngIf="isLoggedIn()">

                    <a
class="nav-link"
routerLink="/add-receipt"
routerLinkActive="active"
(click)="closeMenu()">

➕ Add Receipt

</a>

                </li>

                <!-- All Receipts -->
                <li
                    class="nav-item"
                    *ngIf="isLoggedIn()">

                    <a
class="nav-link"
routerLink="/all-receipts"
routerLinkActive="active"
(click)="closeMenu()">

📋 All Receipts

</a>

                </li>

                <!-- Login -->
                <li
                    class="nav-item"
                    *ngIf="!isLoggedIn()">

                    <a
                        class="nav-link"
                        routerLink="/kruti-admin-login-92731">

                        🔐 Admin Login

                    </a>

                </li>

                <!-- Logout -->
                <li
                    class="nav-item"
                    *ngIf="isLoggedIn()">

                    <a
                        class="nav-link logout"
                        href="javascript:void(0)"
                        (click)="closeMenu(); logout()">

                        🚪 Logout

                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>
