<nav class="navbar navbar-expand-lg customer-navbar">

    <div class="container">

        <a
            class="navbar-brand"
            routerLink="/search-receipt">

            Kruti Electronics

        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#customerNavbar">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div
            class="collapse navbar-collapse"
            id="customerNavbar">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">

                    <a
                        class="nav-link active"
                        routerLink="/search-receipt">

                        🔍 Search Receipt

                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>
